<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Wibby</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/Sith_Eternal_insignia_blue.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../estilo.css">
</head>

<body class="bg-dark toggled" id="wrapper">

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-sm  bg-dark navbar-dark sticky-top">
        <!-- Brand -->
        <a class="navbar-brand  col-9 d-flex">
            <button class="btn btn-primary menu-toggle">Menu</button>
            <form id="buscarForm" class="form-inline col-8" onsubmit="Busqueda()" th:action="@{/juegos/{filtro}}">
                <input id="buscar" class="form-control border-primary bg-dark col-10 mx-auto " type="search" placeholder="Buscar" aria-label="Buscar">
                <button id="botonBuscar" class="btn btn-sm btn-link col-1" type="submit">
					<i class="material-icons">search</i>
				</button>
            </form>
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="material-icons">fingerprint</i>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="material-icons">directions_run</i>

                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /Nav Bar -->




    <!-- Sidebar -->
    <div class="bg-dark border border-dark" id="sidebar-wrapper">
        <div class="sidebar-heading text-center text-light">¡WIBBY!</div>
        <ul class="ml-3 mr-5  col-9 nav nav-pills flex-column">
            <li class="nav-item mt-3">
                <a class="nav-link" th:href="@{/juegos}"> <i class="material-icons">games</i>Juegos
                </a>
            </li>
            <li class="nav-item mt-3">
                <a class="nav-link" th:href="@{/plataformas}"> <i class="material-icons">settings_input_svideo</i>Plataformas
                </a>
            </li>
            <li class="nav-item mt-3">
                <a class="nav-link" th:href="@{/distribuidores}"> <i class="material-icons">videogame_asset</i>Distribuidores
                </a>
            </li>
            <li class="nav-item mt-3">
                <a class="nav-link" th:href="@{/desarrolladores}"> <i class="material-icons">code</i>Desarrolladores
                </a>
            </li>

        </ul>

        <!--/#sidebar-->


    </div>

    <!-- Page Content -->
    <div class="container-fluid d-flex p-2 col-11" id="page-content-wrapper">
        <div id="cuerpo-registro" class="container-fluid d-flex col-12">
            <div id="contenedor-img"><img id="portada" th:src="'../img/' + ${desa.id} + '.jpg'" class="" alt="portada"></div>
            <div id="contenedor-texto" class="text-light">
                <h5 th:text="'Nombre: '+ ${desa.nombre}"> </h5>
                <h5 th:text="'Pais : ' + ${desa.pais}"></h5>
                <h5 th:text="'Año de fundación: ' + ${desa.anio}"></h5>
                <p th:text="${desa.descripcion}"></p>
                <a th:href="@{'/juegos/' + ${desa.id}}" class="btn btn-danger">Lista de Juegos</a>
                <a th:href="@{/desarrolladores}" class="btn btn-warning">Lista de desarrolladores</a>
            </div>
        </div>


    </div>
    <!-- /#page-content-wrapper -->


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="../js.js"></script>

</html>